.banner {
    min-height: 60vh;

    background-image: linear-gradient(0deg, rgba(33, 33, 36, 0.4), rgba(33, 33, 36, 0.4)), url('../img/background-temp.jpg');
    background-size: cover;
    background-attachment: fixed;

    backdrop-filter: blur(10px);
}

.banner__container {
    min-height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

.banner__title {
    margin-bottom: 24px;

    font-size: 60px;
    font-weight: 700;
}

.banner__subtitle {
    margin-bottom: 1em;

    font-size: 24px;
    line-height: 140%;
}



.info-chips {
    /* padding: 30px 0; */

    background-color: #292929;
}

.info-chips__container {
    display: flex;
    /* gap: 40px; */
}

.info-chips__chip {
    padding: 40px 30px;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    background-color: #333;

    font-size: 20px;
    font-weight: 500;
    text-align: center;

    /* border: 1px solid #ffcf40; */
    /* border-radius: 4px; */
}

.info-chips__chip:nth-child(2) {
    background-color: #393939;
}



.text-block {
    padding: 60px 0;

    color: white;
    background-color: #212124;

    /* border-top: 2px solid #ffcf40; */
    /* border-bottom: 2px solid #ffcf40; */
}

.text-block__content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.text-block__title {
    margin-bottom: 1em;

    font-size: 42px;
}

.text-block__text {
    font-size: 22px;
    font-weight: 200;
    line-height: 140%;

    flex: 1;
}

.text-block__text > p,
.text-block__text > ul {
    margin-bottom: 1em;
}

.text-block__text > p:last-child,
.text-block__text > ul:last-child {
    margin-bottom: 0;
}

.text-block__text > ul {
    list-style: inside;
}

.text-block__image {
    max-width: 35%;
    align-self: stretch;
}

.text-block__image img {
    height: 100%;

    object-fit: cover;
}



.services {
    padding: 60px 0;

    color: white;
    background-color: #292929;
}

.services__title {
    margin-bottom: 30px;
    padding-bottom: 8px;

    font-size: 54px;
    /* text-align: center; */

    border-bottom: 2px solid #ffcf40;
}

.services__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 30px;
}

.service-card {
    min-height: 0;
}

.service-card__image {
    margin-bottom: 16px;
    height: 350px;
}

.service-card__image img {
    height: 100%;

    object-fit: cover;
}

.service-card__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.service-card__text {
    color: #ccc;
    font-size: 24px;
    font-weight: 200;
}



.services-desc {
    padding: 40px 0;
}



.examples {
    padding: 60px 0;

    background-color: #212124;
}

.examples__title-content {
    margin-bottom: 30px;
    padding-bottom: 8px;

    display: flex;
    align-items: center;
    gap: 50px;

    color: white;

    font-size: 42px;

    border-bottom: 2px solid #ffcf40;
}

.examples__title-content > h2 {
    flex: 1;
}

.examples__slider-controls {
    display: flex;
    gap: 30px;
}

.examples__slider-control {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    background: white;

    cursor: pointer;
}

.examples__slider-control:hover {
    background-color: #ddd;
}

.examples__slider-control svg {
    position: relative;

    width: 90%;
}

.examples__slider-control_prev svg {
    left: -1px;
}

.examples__slider-control_next svg {
    right: -1px;
}

.examples__slider {
    max-width: 100%;

    overflow: hidden;
}

.examples__slider .slide__container {
    height: 60vh;
}

.examples__slider .slide__container img {
    height: 100%;

    object-fit: cover;
}



.about-us .text-block__content-wrapp {
    flex: 1;
}

.about-us .text-block__title {
    margin-bottom: 0.5em;
}



.our-pros {
    padding: 30px 0;

    color: white;
    background-color: #292929;
}

.our-pros__title {
    margin-bottom: 30px;

    font-size: 50px;
    text-align: center;
}

.our-pros__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.our-pros__element {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.our-pros__element-number {
    color: #ffcf40;

    font-size: 48px;
    font-weight: 700;
}

.our-pros__element-title {
    margin-bottom: 4px;

    font-size: 28px;
    font-weight: 700;
}

.our-pros__element-text {
    color: #ddd;

    font-size: 22px;
    font-weight: 300;
}



.contact-form {
    padding: 40px 0;

    background-color: #212124;
}

.contact-form__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.contact-form__side {
    padding: 30px;

    min-height: 0;

    flex: 1;
    align-self: stretch;
    
    color: white;

    border: 2px solid #ffcf40;
}

.contact-form__title {
    margin-bottom: 30px;

    font-size: 50px;
    font-weight: 700;
}

.contact-form__text {
    font-size: 28px;
    font-weight: 200;
}

.contact-form__text > p {
    margin-bottom: 0.75em;
}

.contact-form__text > p:last-child {
    margin-bottom: 0;
}

.contact-form__text a {
    color: white;

    font-weight: 700;
    text-decoration: none;
}

.contact-form form {
    padding: 30px;

    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    background-color: white;

    font-size: 24px;
}

.contact-form form > label {
    margin-bottom: 0.25em;
}

.contact-form form > label > span {
    color: #F00;
}

.contact-form form > input,
.contact-form form > textarea {
    padding: 10px 16px;
    margin-bottom: 1em;

    font-size: 20px;

    border-radius: 6px;
    border: 1px solid #333333;

    outline: none;
    resize: none;
}

.contact-form form > textarea {
    margin-bottom: 1.5em;
}

.contact-form form > input.button {
    margin-bottom: 0;
    padding: 0.5em 2em;

    background-color: #ffcf40;

    border: none;
}