* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Sofia Sans';
}

img {
    width: 100%;

    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 30px;

    max-width: 1366px;
}

.button {
    padding: 0.5em 2em;

    align-self: flex-start;
    
    color: black;
    background-color: #ffcf40;
    
    font-size: 24px;

    border-radius: 0.25em;

    transition: background-color .3s;

    cursor: pointer;
}

.button:hover {
    background-color: #deb22e;
}