* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Sofia Sans';
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 30px;

    max-width: 1280px;
}